
/parent/.project
/parent/.settings
/json-smart-mini/.project
/json-smart-mini/.settings
/json-smart-mini/target
/json-smart-mini/.classpath
/json-smart/.project
/json-smart/.settings
/json-smart/target
/json-smart/.classpath